<h2>
  Login
</h2>

<div>
  <div *ngFor="let message of getErrorsMessages()">{{message}}</div>
</div>

<div *ngIf="(loginInfo$ | async)?.enableLocalLogin">
    <div>
        <h3>Local Login</h3>
    </div>

  <form #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" [(ngModel)]="username" name="username" required />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" [(ngModel)]="password" name="password" required />
    </div>

    <div *ngIf="(loginInfo$ | async)?.allowRememberLogin">
        <label>
            <input type="checkbox" [(ngModel)]="rememberLogin" name="rememberLogin" />
            <strong>Remember My Login</strong>
        </label>
    </div>

    <div>
      <button (click)="login()" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>
</div>

<div *ngIf="visibleExternalProviders((loginInfo$ | async)?.externalProviders).length > 0">
  <div>
      <h3>External Login</h3>
  </div>
  <div>
      <ul>
        <li *ngFor="let provider of visibleExternalProviders((loginInfo$ | async)?.externalProviders)">
            <a [href]="externalLoginUrl(provider.authenticationScheme, (loginInfo$ | async)?.returnUrl)">{{provider.displayName}}</a>
        </li>
      </ul>
  </div>
</div>

<div *ngIf="!(loginInfo | async)?.enableLocalLogin && visibleExternalProviders((loginInfo | async)?.externalProviders).length <= 0">
    <strong>Invalid login request</strong>
    There are no login schemes configured for this client.
</div>
